:root {
  --primary-bgcolor: #faf0ca;
  --secondary-bgcolor: #f4d35e;
  --primary-font: #0d3b66;
  --font-black: #393e41;
  --color-gray: #f6f7eb;
  --h2-size: 1rem
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: var(--secondary-bgcolor);
}

nav {
  height: 4rem;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 0.7rem;
  color: var(--primary-font);
  backdrop-filter: blur(10px);
}

.nav__logo {
  padding: 0 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.7rem;
}

.nav__logo h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav__logo img {
  width: 2rem;
  height: 2rem;
  color: var(--primary-font);
}

ul {
  padding-right: 1.5rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

ul a {
  color: var(--primary-font);
  font-weight: 500;
}

ul a {
  display: inline-block;
  transition: transform 0.3s ease;
}

ul a:hover {
  border-bottom: 1px solid var(--primary-font);
}

.nav__links--button {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary-font);
  color: white;
  border-radius: 1.5rem;
  font-weight: 600;
}

.nav__links--button:hover {
  background-color: var(--secondary-bgcolor);
  color: var(--primary-font);
  border: 1px solid var(--primary-font);
  transition: 0.3s ease;
}

/* hero section */

.hero {
  width: 100vw;
  height: 28rem;
  padding: 1.5rem;
  position: relative;
  top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-title span {
  display: block;
  margin: 0.4rem;
  font-size: 4rem;
  color: var(--primary-font);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.hero__text p {
  padding-top: .3rem;
  padding-left: 0.5rem;
  font-size: .9rem;
  color: var(--font-black);
}

@keyframes hero-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
    filter: drop-shadow(0 10px 20px rgba(36, 0, 70, 0.15));
  }

  100% {
    transform: scale(1);
  }
}

.hero__image img {
  width: 23rem;
  animation: hero-animation 2.5s ease-in-out infinite;
  transition: filter 0.3s;
}

.hero button {
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  background-color: inherit;
  color: var(--font-black);
  border: 1px solid white;
  border-radius: 0.5rem;
  cursor: pointer;
}

.hero button:hover {
  background-color: var(--primary-font);
  color: white;
  border: 1px solid var(--primary-font);
  transition: 0.3s ease;
}

/* client-section */

.client-section {
  width: 100vw;
  height: auto;
  padding: 1.5rem;
  background-color: #fff;
}

h2 {
  width: 100%;
  color: var(--primary-font);
  text-align: center;
  font-size: var(--h2-size);
  text-transform: capitalize;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.client-images {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.client-images img {
  width: 4rem;
  height: 4rem;
  color: var(--primary-font);
}

.client-images img:hover {
  transform: scale(1.2);
  transition: transform 0.4s ease;
}

/* what we do section */

.what-we-do {
  width: 100vw;
  height: auto;
  padding: 1.5rem;
  background-color: var(--primary-bgcolor);
}

.cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card img {
  width: 5rem;
  height: 5rem;
}

.card h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.card p {
  font-size: .9rem;
  color: var(--font-black);
  text-align: center;
}

.card a {
  margin-top: .8rem;
}

.card:hover {
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* how we work section */

.how-we-work {
  width: 100vw;
  height: auto;
  padding: 1.5rem;
}

.how-we-work__text {
  color: var(--font-black);
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
  font-size: 2.3rem;
  font-weight: 600;
}

.text--highlight {
  color: var(--primary-font);
  font-weight: 700;
}

.price-cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.price-card {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin-top: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.price-card:hover {
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.price-card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  text-align: center;
  border-bottom: #000 1px solid;
}

.price-card .price {
  font-size: 2rem;
  font-weight: 700;
}

.price span {
  font-size: .9rem;
  color: var(--font-black);
}

.price-card p {
  font-size: .9rem;
  color: var(--font-black);
  text-align: center;
}

.price-card__button {
  width: 80%;
  margin-top: .8rem;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  background-color: var(--primary-font);
  color: white;
  border: 1px solid white;
  border-radius: 0.5rem;
  cursor: pointer;
}

.price-card__button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: 0.3s ease;
}

/*  meet our team section */

.meet-our-team {
  width: 100vw;
  height: auto;
  padding: 1.5rem;
  background-color: var(--color-gray);
}

.face-cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.face-card {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.face-card img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

/* follow-us section */

.follow-us {
  width: 100vw;
  height: auto;
  padding: 1.5rem;
}

.follow-us p {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  color: var(--primary-font);
}

.follow-us img {
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  display: block;
  margin-top: 1.2rem;
}

.meet-our-team img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.follow-us button {
  width: 30%;
  margin: 0 auto;
  display: block;
  margin-top: .8rem;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  background-color: inherit;
  color: var(--primary-font);
  border: 1px solid var(--primary-font);
  border-radius: 0.5rem;
  cursor: pointer;
}

.follow-us button:hover {
  background-color: var(--font-black);
  color: white;
  border: 1px solid var(--font-black);
  transition: 0.3s ease;
}

/* footer */

footer {
  width: 100vw;
  height: auto;
  padding: 1.5rem;
  background-color: var(--primary-bgcolor);
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.footer-content ul {
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
  display: block;
}

@media screen and (max-width: 994px) {
  nav {
    height: 5rem;
    padding: .5rem;
    backdrop-filter: none;
  }
  .hero {
    height: 45rem;
  }
}

/* Media Queries */
@media screen and (max-width: 768px) {

  nav {
    height: fit-content;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    backdrop-filter: none;
  }

  ul {
    padding-right: 0;
    gap: 1rem;
    margin-top: 1rem;
    flex-direction: column;
  }

  .hero {
    height: auto;
    flex-direction: column;
    top: 0;
    text-align: center;
    padding-top: 3rem;
  }

  .hero-title span {
    font-size: 3.5rem;
  }

  .hero__image img {
    /* width: 80vw; */
    display: none;
  }
  
  .cards {
    flex-direction: column;
  }

  .price-cards {
    flex-direction: column;
  }

  .face-cards {
    flex-wrap: wrap;
  }

  footer {
    flex-wrap: wrap;
    
  }
}